################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RealestateApi/FileContentIndex/d1db2605-9d8e-4def-82b6-88e5785681ea.vsidx
/.vs/RealestateApi/v17/.wsuo
/.vs/RealestateApi/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
*.vsidx
/RealestateApi/RealestateApi/obj/*
.vs/*
RealestateApi/bin/*
RealestateApi/obj/*
/RealestateApi/.vs/RealEstateApi
/RealestateApi/.vs/ProjectEvaluation
/RealEstateLibraryEF/bin/Debug/net8.0/RealEstateLibraryEF.dll
/RealEstateLibraryEF/bin/Debug/net8.0/RealEstateLibraryEF.pdb
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.AssemblyInfo.cs
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.AssemblyInfoInputs.cache
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.dll
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.pdb
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.sourcelink.json
/RealEstateLibraryEF/obj/Debug/net8.0/ref/RealEstateLibraryEF.dll
/RealEstateLibraryEF/obj/Debug/net8.0/refint/RealEstateLibraryEF.dll
/RealEstateLibraryEF/bin/Debug/net8.0/RealEstateLibraryEF.deps.json
/RealEstateLibraryEF/bin/Debug/net8.0/RealEstateLibraryEF.runtimeconfig.json
/RealEstateLibraryEF/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.assets.cache
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.csproj.AssemblyReference.cache
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.csproj.BuildWithSkipAnalyzers
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.csproj.CoreCompileInputs.cache
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.csproj.FileListAbsolute.txt
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.GeneratedMSBuildEditorConfig.editorconfig
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.genruntimeconfig.cache
/RealEstateLibraryEF/obj/Debug/net8.0/RealEstateLibraryEF.GlobalUsings.g.cs
/RealEstateLibraryEF/obj/project.assets.json
/RealEstateLibraryEF/obj/project.nuget.cache
/RealEstateLibraryEF/obj/RealEstateLibraryEF.csproj.nuget.dgspec.json
/RealEstateLibraryEF/obj/RealEstateLibraryEF.csproj.nuget.g.props
/RealEstateLibraryEF/obj/RealEstateLibraryEF.csproj.nuget.g.targets
