################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RealestateApi/FileContentIndex/d1db2605-9d8e-4def-82b6-88e5785681ea.vsidx
/.vs/RealestateApi/v17/.wsuo
/.vs/RealestateApi/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
*.vsidx
/RealestateApi/RealestateApi/obj/*
.vs/*
RealestateApi/bin/*
RealestateApi/obj/*
/RealestateApi/.vs/RealEstateApi
/RealestateApi/.vs/ProjectEvaluation
/EntityFrameworkApiLibrary/bin/Debug/net8.0
/EntityFrameworkApiLibrary/obj
/RealEstateLibraryEF/bin/Debug/net8.0
/RealEstateLibraryEF/obj/Debug/net8.0
/RealEstateLibraryEF/obj/project.assets.json
/RealEstateLibraryEF/obj/project.nuget.cache
/RealEstateLibraryEF/obj/RealEstateLibraryEF.csproj.nuget.dgspec.json
/RealEstateLibraryEF/obj/RealEstateLibraryEF.csproj.nuget.g.props
/RealEstateLibraryEF/obj/RealEstateLibraryEF.csproj.nuget.g.targets
