################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/appcasas-api/FileContentIndex/d1db2605-9d8e-4def-82b6-88e5785681ea.vsidx
/.vs/appcasas-api/v17/.wsuo
/.vs/appcasas-api/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
*.vsidx
/AppCasasAPI/AppCasasAPI/obj/Debug/net8.0
/AppCasasAPI/AppCasasAPI/obj

/AppCasasAPI/.vs/AppCasasAPI/v17/.suo
/AppCasasAPI/.vs/AppCasasAPI/v17/DocumentLayout.json
